{{ define "main" }}
  <div class="content-panel">
    <div class="notebook-date-list">
      {{ range .Pages }}
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    links to my minimally edited or contextualized notes for each date; many of the same notes are also available grouped topically.
  </p>
  <p>
    Why do this?
  </p>
  <ul>
    <li>
      <p>
        Encourage notetaking for memory and future use
      </p>
    </li>
    <li>
      <p>
        Become comfortable sharing ideas, especially unfinished ones
      </p>
    </li>
    <li>
      <p>
        Increase interest and engagement in learning
      </p>
    </li>
    <li>
      <p>
        Maybe help someone
      </p>
    </li>
  </ul>
{{ end }}
