{{ define "main" }}
  <div class="multi-note-panel">
    <div class="exposition-box">
      {{ .Content }}
    </div>
    {{ range .Resources.ByType "page" }}
      {{ $id := .File.BaseFileName }}
      <div id="{{ $id }}" class="content-panel mini-post">
        <div class="header">
          {{ .Title }}
          <div class="links">
            {{ range .Params.topics }}
              <a href="/topics/{{ . }}/#{{ $id }}">
                {{ . }}
              </a>
            {{ end }}
          </div>
        </div>
        <div class="content md">
          {{ .Content }}
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    minimally edited or contextualized notes from throughout the day with topical links.
  </p>
  <p>
    Why do this?
  </p>
  <ul>
    <li>
      <p>
        Encourage notetaking for memory and future use
      </p>
    </li>
    <li>
      <p>
        Become comfortable sharing ideas, especially unfinished ones
      </p>
    </li>
    <li>
      <p>
        Increase interest and engagement in learning
      </p>
    </li>
    <li>
      <p>
        Maybe help someone
      </p>
    </li>
  </ul>
{{ end }}
