main .download {
    align-items: stretch;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    margin-left: 16px;
    margin-right: 16px;
}

main .download .description,
main .download .file,
main .download .icon {
    border-bottom: 1px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
}

main .download .file {
    border-left: 1px solid #808080;
}

main .download .file .name {
    font-family: monospace;
}

main .download .file .size {
    color: #505050;
    font-size: small;
}

main .download .file,
main .download .icon {
    background-color: #e8e8ff;
}