main .gallery {
    background-color: #e5caed;
    border-radius: 4px;
    color: #390347;
    margin-bottom: 32px;
    margin-top: 32px;
}

main .gallery .photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

main .gallery .photo .expo {
    flex: 1 1 280px;
    margin-right: -8px;
}

main .gallery .photo .title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 8px;
}

main .gallery .photo img {
    border: 1px solid #390347;
    border-radius: 4px;
}