.lang-python .k { color: #ff7b72; }
.lang-python .kc { font-weight: bold; }
.lang-python .kn { color: #ff7b72; }
.lang-python .n { font-weight: bold; }
.lang-python .nb { font-weight: bold; }
.lang-python .nf { font-weight: bold; }
.lang-python .nn { font-weight: bold; }
.lang-python .s1 { color: #ae81ff; }
.lang-python .vm { font-weight: bold; }