body, html {
    height: 100%;
}

body {
    background-color: #808080;
    display: flex;
    justify-content: center;
    margin: 0;
    overflow-y: scroll;
}

a:visited {
    color: blue;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1024px;
}

.content {
    background-color: #e7e7e7;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
}

header {
    align-items: center;
    color: #505050;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    padding-bottom: 8px;
}

header .expo {
    flex: 1 1 0;
}

header .title {
    color: #000000;
    font: bold 20px monospace;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 8px;
    padding-top: 16px;
    row-gap: 16px;
    text-align: center;
}

footer .author {
    font-size: large;
    font-weight: bold;
}

footer .author img {
    border-radius: 20px;
}

footer .biography {
    color: #505050;
    font-style: italic;
    max-width: 480px;
}

footer .social-media {
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    background-color: #ffffff;
    border-bottom: solid #808080;
    border-top: solid #808080;
    padding: 8px;
}

.highlight pre {
    border: 1px solid #808080;
    border-radius: 2px;
    padding: 5px;
    white-space: pre-wrap;
}

blockquote {
    border: solid #e7e7e7;
    border-left-width: 16px;
    color: #505050;
    margin: auto;
    padding: 8px;
}

code, kbd {
    color: green;
}