.post-listing .date {
    color: #404040;
    margin-top: 4px;
    min-width: 80px;
    text-align: right;
}

.post-listing .year {
    font-size: larger;
}

.post-listing h2 {
    margin: 0;
}

.post-listing td {
    padding-bottom: 20px;
    padding-right: 20px;
    vertical-align: top;
}