/* Universal layout and feel */

a:link {
    text-decoration: none;
}

a:visited {
    color: blue;
}

pre {
    white-space: pre-wrap;
}

a.box-link {
    background-color: #ddddff;
    border: solid 1px blue;
    border-radius: 15px;
    display: block;
    margin: 30px auto 10px auto;
    max-width: 500px;
    padding: 10px;
}

a.box-link p {
    margin: 8px 0 0 0;
}


/* Main layout */

body {
    background-color: #777777;
    overflow-y: scroll;
}

.whole-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: auto;
    max-width: 1200px;
    min-width: 280px;
}

main {
    display: flex;
    flex-flow: wrap;
    gap: 8px;
    justify-content: center;
}

.left {
    flex: 1;
    flex-basis: 600px;
    min-width: 250px;
}

article {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}


/* Page header */

.page-header {
    background-color: #ffffff;
    border-radius: 5px;
}

.page-header div {
    padding-left: 10px;
}

.page-header .site-name {
    background-color: #000000;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}

.page-header .breadcrumb-trail {
    background-color: #ddddff;
    font-size: small;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page-header .page-title {
    color: #404040;
    font-size: 35px;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Sidebar */

.sidebar {
    background-color: #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: 250px;
}

.sidebar hr {
    width: 20%;
}

.sidebar .sidebar-header {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.sidebar .selfie {
    height: 80px;
    width: 80px;
}

.sidebar .selfie img {
    border-radius: 5px;
}

.sidebar .my-nametag {
    font-size: small;
}

.sidebar .my-name {
    font-size: x-large;
}

.sidebar .bio {
    color: #404040;
    font-style: italic;
    text-align: center;
}

.sidebar .about {
    color: #404040;
}

.sidebar .about ul {
    padding-inline-start: 20px;
}

.sidebar .social-media {
    text-align: center;
}

.sidebar .social-media img {
    margin-left: 5px;
    margin-right: 5px;
}


/* Notebook */

article.notebook-list a {
    padding-right: 10px;
}

article.note {
    background-color: #faeebe;
    color: #472104;
    padding: 0 15px;
}


/* Roadmap */

article.roadmap {
    padding: 0;
}

article.roadmap table {
    border-collapse: collapse;
}

article.roadmap tr:nth-of-type(odd) {
    background-color: #e7e7e7;
}

article.roadmap th {
    border-bottom: 1px solid;
}

article.roadmap th:nth-of-type(1) {
    border-top-left-radius: 5px;
}

article.roadmap th:nth-of-type(2) {
    border-top-right-radius: 5px;
}

article.roadmap th, article.roadmap td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
}


/* Stuff that might need to disappear or be reorganized */

.gallery {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}

.image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image .caption {
    color: #404040;
    font-size: small;
    text-align: center;
    width: 280px;
}

.flexzone {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
}

.flexzone .flextext {
    align-self: center;
    flex: 1;
    flex-basis: 300px;
    min-width: 200px;
}

.flexzone .gallery {
    align-self: center;
}

.post-listing .date {
    color: #404040;
    margin-top: 4px;
    min-width: 80px;
    text-align: right;
}

.post-listing .year {
    font-size: larger;
}

.post-listing h2 {
    margin: 0;
}

.post-listing td {
    padding-bottom: 20px;
    padding-right: 20px;
    vertical-align: top;
}

article h1 {
    border-bottom: 1px solid #aaa;
}
