body {
    justify-content: center;
    overflow-y: scroll;
}

.page {
    margin: auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: blue;
}

article h1 {
    border-bottom: 1px solid #aaa;
}

.site-header {
    background-color: #000000;
    border-radius: 5px;
    color: #ffffff;
    font-size: larger;
    padding: 10px;
}

.breadcrumb-trail {
    font-size: small;
    margin: 10px 5px 30px 5px;
}

main {
    display: flex;
    flex-flow: wrap;
    gap: 40px;
    justify-content: center;
}

article {
    flex: 1;
    flex-basis: 600px;
    min-width: 350px;
}

.slight-indent {
    margin-left: 5px;
}

.sidebar {
    background-color: #e7e7e7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    width: 250px;
}

/* TODO Maybe move this into its own file */

header {
    margin-bottom: 40px;
}

header .title {
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 10px;
}

header {
    font-size: small;
}

.gallery {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
    margin: 10px;
}

.image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image .caption {
    color: #404040;
    font-size: small;
    text-align: center;
    width: 280px;
}

.flexzone {
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    justify-content: center;
}

.flexzone .flextext {
    align-self: center;
    flex: 1;
    flex-basis: 300px;
    min-width: 200px;
}

.flexzone .gallery {
    align-self: center;
}