{{ define "main" }}
  <div class="content-panel topic-list">
    {{ range .Pages }}
      <h3>
        <a href="{{ .RelPermalink }}">
          {{ .Title }}
        </a>
      </h2>
      <div>
        {{ .Content }}
      </div>
    {{ end }}
</div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    links to my minimally edited mini-posts grouped by topic. The same mini-posts are also available grouped by date.
  </p>
  <p>
    Why do this?
  </p>
  <ul>
    <li>
      <p>
        Encourage notetaking for memory and future use
      </p>
    </li>
    <li>
      <p>
        Become comfortable sharing ideas, especially unfinished ones
      </p>
    </li>
    <li>
      <p>
        Increase interest and engagement in learning
      </p>
    </li>
    <li>
      <p>
        Maybe help someone
      </p>
    </li>
  </ul>
  </p>
{{ end }}
