{{ define "main" }}
  {{ $topic := .File.BaseFileName }}
  <div class="multi-note-panel">
    <div class="exposition-box">
      {{ .Content }}
    </div>
    {{ with .Site.GetPage "/notebook" }}
      {{ range .Pages }}
        {{ $date := .Title }}
        {{ range .Resources.ByType "page" }}
          {{ if in .Params.topics $topic }}
            <div id="{{ .File.BaseFileName }}" class="content-panel mini-post">
              <div class="header">
                {{ .Title }}
                <a href="/notebook/{{ $date }}/#{{ .File.BaseFileName }}">
                  {{ $date }}
                </a>
              </div>
              <div class="content md">
                {{ .Content }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  {{- .Parent.Content -}}
{{ end }}
