{{ define "main" }}
  <div class="note">
    <div class="journal-entry">
      {{ .Content }}
    </div>
    {{ with .Site.GetPage "/notebook" }}
      {{ range .Pages }}
        {{ range .Resources.ByType "page" }}
          {{ if in .Params.topics "abstract-algebra" }}
            <div class="content-panel mini-post">
              <div class="header">
                {{ .Title }}
              </div>
              <div class="content md">
                {{ .Content }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  {{- .Parent.Content -}}
{{ end }}
