{{ define "main" }}
  <article class="slight-indent">
    <section>
      {{- .Content -}}
    </section>
    <section>
      <table class="post-listing">
        {{ range .Pages }}
          <tr>
            <td>
              <div class="date">
                {{ .PublishDate.Month }}
                {{ .Date.Day }}
                <div class="year">
                  {{ .PublishDate.Year }}
                </div>
              </div>
            </td>
            <td>
              <h2>
                <a href="{{ .RelPermalink }}">
                  {{ .Title }}
                </a>
              </h2>
              <div>
                {{ .Description }}
              </div>
            </td>
          </tr>
        {{ end }}
      </table>
    </section>
  </article>
{{ end }}
