{{ define "main" }}
  <article class="slight-indent">
    <section>
      {{- .Content -}}
    </section>
    <section>
      {{ range .Paginator.Pages }}
        <div class="post-listing">
          <div class="date">
            {{ .PublishDate.Month }}
            {{ .Date.Day }}
            <span class="year">
              {{ .PublishDate.Year }}
            </span>
          </div>
          <div class="post-link">
            <h2>
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </h2>
            <div>
              {{ .Summary }}
            </div>
          </div>
        </div>
      {{ end }}
    </section>
  </article>
{{ end }}
