{{ define "main" }}
  <div class="content-panel post">
    <div class="header">
      {{ dateFormat "2006-01-02" .Date }}
    </div>
    <div class="md">
      {{ .Content }}
    </div>
  </div>
  <div class="gallery">
    {{ range .Resources.ByType "image" }}
      <div class="image">
        <img src="{{ .RelPermalink }}" alt="{{ .Params.title }}" title="{{ .Params.title }}" width="280px" height="210px">
        <div class="caption">
          <p>
            {{ .Params.caption }}
          </p>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    an essay from my growing collection about exploration, experiences, ideas, successes, and failures.
  </p>
  <p>
    As part of trying to become a better writer, I am consciously resisting perfectionism and endless cycles of editing, so I generally leave these essays alone once written; but I may sometimes revisit them to make corrections, add more related content, or improve clarity.
  </p>
{{ end }}
