{{ define "main" }}
  <div class="content-panel post">
    <div class="header">
      {{ dateFormat "2006-01-02" .Date }}
    </div>
    <div class="md">
      {{ .Content }}
    </div>
  </div>
  <div class="gallery">
    {{ range .Resources.ByType "image" }}
      <div class="image">
        <img src="{{ .RelPermalink }}" alt="{{ .Params.title }}" title="{{ .Params.title }}" width="280px" height="210px">
        <div class="caption">
          <p>
            {{ .Params.caption }}
          </p>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    just some writing and pictures about my life or thoughts I put out there for fun.
  </p>
{{ end }}
