{{ define "main" }}
  <div class="left">
    <article>
      {{ .Content }}
    </article>
    <div class="gallery">
      {{ range .Pages }}
        <a class="box-link" href="{{ .RelPermalink }}">
          <b>
            {{ .Title }}
          </b>
          <p>
            {{ .Description }}
          </p>
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    random thoughts and links to some of my work.
  </p>
{{ end }}
