{{ define "main" }}
  <article>
    {{ .Content }}
    {{ with .GetPage "/posts" }}
      <a class="box-link" href="{{ .RelPermalink }}">
        <b>Posts</b>
        <p>
          Description coming soon...
        </p>
      </a>
    {{ end }}
    {{ with .GetPage "/notebook" }}
      <a class="box-link" href="{{ .RelPermalink }}">
        <b>Notebook</b>
        <p>
          Minimally edited and contextualized thoughts or notes from the day; very possibly poorly written, incomplete, even factually inaccurate.
        </p>
      </a>
    {{ end }}
    {{ with .GetPage "/roadmap" }}
      <a class="box-link" href="{{ .RelPermalink }}">
        <b>Roadmap</b>
        <br>
        <p>Mostly just for me, a prioritized list of known issues with this site, ways to improve its look and feel, backend tasks, and ideas for new content.</p>
      </a>
    {{ end }}
  </article>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    random thoughts and links to some of my work.
  </p>
{{ end }}
