{{ define "main" }}
  <div class="content-panel">
    <div class="md home">
      {{ .Content }}
    </div>
  </div>
  <div class="box-link">
    {{ range .Pages }}
      <a href="{{ .RelPermalink }}">
        <b>
          {{ .Title }}
        </b>
        <p>
          {{ .Description }}
        </p>
      </a>
    {{ end }}
  </div>
{{ end }}
{{ define "about" }}
  <p>
    <strong>
      <em>
        On this page,
      </em>
    </strong>
    links to some of the imperfect work I spent some time on and chose to put out in the world.
  </p>
{{ end }}
